:root {
  /* Grey Background Color */
  --color-primary-100: #e9e9f5;
  --color-primary-200: #d5d5ec;
  --color-primary-300: #aaaac7;
  --color-primary-400: #757590;
  --color-primary-500: #353546;
  --color-primary-600: #26263c;
  --color-primary-700: #1a1a32;
  --color-primary-800: #101028;
  --color-primary-900: #0a0a21;

  /* Green Font Color */
  --color-secondary-100: #d6fed7;
  --color-secondary-200: #aefdb8;
  --color-secondary-300: #84f99f;
  --color-secondary-400: #65f494;
  --color-secondary-500: #34ed84;
  --color-secondary-600: #26cb7e;
  --color-secondary-700: #1aaa75;
  --color-secondary-800: #108969;
  --color-secondary-900: #097160;

  /* Purple Accent Color */
  --color-accent-100: #d3fffe;
  --color-accent-200: #a8f9ff;
  --color-accent-300: #7deeff;
  --color-accent-400: #5ddeff;
  --color-accent-500: #27c5ff;
  --color-accent-600: #1c9adb;
  --color-accent-700: #1374b7;
  --color-accent-800: #0c5393;
  --color-accent-900: #073b7a;

  /* Semantic Colours */
  --color-success-100: #ecf8cd;
  --color-success-200: #d6f19e;
  --color-success-300: #add768;
  --color-success-400: #7faf3e;
  --color-success-500: #497a11;
  --color-success-600: #39680c;
  --color-success-700: #2b5708;
  --color-success-800: #1f4605;
  --color-success-900: #163a03;
  --color-info-100: #cbebfb;
  --color-info-200: #98d4f8;
  --color-info-300: #63b1ea;
  --color-info-400: #3b8cd5;
  --color-info-500: #075dba;
  --color-info-600: #05489f;
  --color-info-700: #033585;
  --color-info-800: #02256b;
  --color-info-900: #011a59;
  --color-warning-100: #fbeec9;
  --color-warning-200: #f7da94;
  --color-warning-300: #e7b95d;
  --color-warning-400: #cf9534;
  --color-warning-500: #af6701;
  --color-warning-600: #965200;
  --color-warning-700: #7d3f00;
  --color-warning-800: #652e00;
  --color-warning-900: #532300;
  --color-danger-100: #fbe1ce;
  --color-danger-200: #f7bd9e;
  --color-danger-300: #e78c6b;
  --color-danger-400: #d05e44;
  --color-danger-500: #b22313;
  --color-danger-600: #99100d;
  --color-danger-700: #800910;
  --color-danger-800: #670613;
  --color-danger-900: #550315;
}
