.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  z-index: 10;
  position: relative;
  height: 100vh;
}

.container h1 {
  font-size: 36px;
  position: relative;

  &:after {
    content: "";
    width: 80%;
    height: 1px;
    background: linear-gradient(
      to right,
      var(--color-accent-green),
      transparent
    );
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container form {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container form label {
  font-weight: 600;
  margin: 5px 0 0;
  text-align: left;
  width: 100%;
}

.container form input {
  width: 100%;
  border: none;
  font-size: 18px;
  padding: 5px 10px;
  font-family: Urbanist;
  border-radius: 3px;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border: 2px solid var(--color-secondary);
  outline: none;
  transition: 0.2s;
}

.container form textarea {
  border-radius: 3px;
  padding: 10px;
  width: 100%;
  font-family:
    Urbanist,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  resize: none;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border: 2px solid var(--color-secondary);
  outline: none;
  transition: 0.2s;
}

.container form input:focus,
.container form textarea:focus {
  border-color: var(--color-accent-green);
}

.submit_button,
.submit_button_disabled {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  margin-top: 20px;
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 0 3px 5px 2px var(--color-primary);
}

.submit_button:hover {
  background-color: var(--color-accent-green);
}

.submit_button_disabled {
  pointer-events: none;
}

.social_container {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  gap: 20px;
  display: flex;
  justify-content: center;
}

.social_container a {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  display: grid;
  place-items: center center;
  transition: 0.2s;
}

.social_container a:hover {
  background-color: var(--color-accent-green);
}
