.container {
  width: 40px;
  height: 40px;
  position: fixed;
  right: 60px;
  bottom: 40px;
  border-radius: 100px;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  box-shadow: 0 3px 5px 2px var(--color-primary);
}

.container:hover {
  background-color: var(--color-accent-green);
}

@media screen and (min-width: 1280px) {
  .container {
    right: 50%;
    transform: translateX(calc(50% + 640px - 60px - 40px));
  }
}
