.container {
  position: absolute;
  width: 100vw;
  left: 0;
  padding: 10px;
  background-color: var(--color-accent-green);
  opacity: 1;
  color: var(--color-primary);
  z-index: 200;
  display: grid;
  place-items: center center;
  font-weight: 600;
  text-align: center;
}
