.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: calc(100% - 50px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  height: calc(100% - 50px);
  border-radius: 5px;
  z-index: 2;
}

.container_background {
  position: absolute;
  width: calc(100% - 50px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  height: calc(100% - 50px);
  border-radius: 5px;
  box-shadow: inset 0 0 50px 20px var(--color-primary);
  opacity: 0.4;
  z-index: 1;
  filter: blur(1px);
}

.container h1 {
  font-size: 64px;
  letter-spacing: 0.1rem;
  font-weight: 900;
  font-variant: small-caps;
  color: var(--color-accent-green);
  margin: 0;
}

.container h2,
.container h3 {
  margin: 0;
}

.container p {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.05rem;
}

.next_page {
  width: 60px;
  height: 60px;
  color: var(--color-secondary);
  z-index: 100;
  align-self: flex-end;
  margin-bottom: 40px;
  transition: 0.2s;
  display: flex;
}

.next_page:hover {
  color: var(--color-accent-green);
}
