.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: calc(100% - 50px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  height: calc(100% - 50px);
  border-radius: 5px;
  z-index: 2;
}

.container_background {
  position: absolute;
  width: calc(100% - 50px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: calc(100% - 50px);
  z-index: 1;
  animation: gaussianblur 10s infinite ease-in-out alternate;
  transform-origin: center center;
  background-size: cover;
  background-position: center right;
}

@keyframes gaussianblur {
  from {
    opacity: 0.1;
    filter: blur(2px);
  }
  to {
    opacity: 0.3;
    filter: blur(1px);
  }
}

.container h1 {
  font-size: 64px;
  letter-spacing: 0.1rem;
  font-weight: 900;
  font-variant: small-caps;
  color: var(--color-accent-green);
  margin: 0;
}

.container h2,
.container h3 {
  margin: 0;
}

.container p {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.05rem;
}

.next_page {
  width: 60px;
  height: 60px;
  color: var(--color-secondary);
  z-index: 100;
  align-self: flex-end;
  margin-bottom: 30px;
  transition: 0.2s;
  display: flex;
}

.next_page:hover {
  color: var(--color-accent-green);
}

.hero_swiper .swiper-slide {
  width: 250px !important;
  height: 40px !important;
  text-align: center;
}

.hero_swiper {
  width: 250px !important;
  height: 40px !important;
}
