.container {
  position: fixed;
  top: 40px;
  right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  width: 60px;
}

.container .hamburger {
  width: 60px;
  height: 60px;
  color: var(--color-secondary);
  opacity: 1;
  cursor: pointer;
  transition: 0.2s;
  position: relative;
}

.container .hamburger:hover {
  color: var(--color-accent-green);
}

.container .hamburger_icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  width: 40px;
  height: 40px;
  transform: translateY(-50%);
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 16px;
  overflow: hidden;
  font-weight: 600;
}

.links a {
  text-decoration: none;
  color: var(--color-secondary);
  transition: 0.2s;
}

.links a:hover {
  color: var(--color-accent-green);
}

.links a:visited:hover {
  color: var(--color-accent-green);
}

.links a:visited {
  color: var(--color-secondary);
}

.active_link {
  color: var(--color-accent-green) !important;
  pointer-events: none;
}

@media screen and (min-width: 1280px) {
  .container {
    right: 50%;
    transform: translateX(calc(50% + 640px - 60px - 40px));
  }
}
