.container {
  width: 100%;
  max-width: 1200px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container h2 {
  margin: 0;
  font-size: 24px;
}

.container img {
  width: 100%;
  border-radius: 5px;
}

.header {
  display: flex;
  flex-direction: column;
}

.arrow_icon {
  width: 25px;
  height: 25px;
}

.content {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content p {
  margin: 10px 0 0;
}

.icon_array {
  display: flex;
  justify-content: center;
  gap: 5px 20px;
  margin: 10px 0;
  flex-wrap: wrap;
}

.icon_array svg,
.icon_array_mobile svg {
  width: 40px;
  height: 40px;
}

.icon_array_mobile {
  display: none;
}

.button_container {
  width: 100%;
  max-width: 600px;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.content_rightside {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button_container a {
  width: 120px;
  padding: 10px 0;
  border-radius: 5px;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border: none;
  font-family: Urbanist, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  box-shadow: 0 3px 5px 2px var(--color-primary);
  transition: 0.2s;
  text-decoration: none;
  display: grid;
  place-items: center center;
}

.button_container a:hover {
  background-color: var(--color-accent-green);
}

.tech_name {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  font-weight: 600;
  padding: 2px 20px;
  border-radius: 20px;
  text-decoration: none;
  transition: 0.2s;
}

.tech_name:hover {
  background-color: var(--color-accent-green);
}

@media screen and (min-width: 768px) {
  .content {
    display: grid;
    grid-template-columns: 40% 60%;
  }

  .content p {
    margin-top: 0;
    padding-left: 20px;
  }

  .icon_array {
    display: none;
  }

  .icon_array_mobile {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 10px;
    gap: 5px 20px;
    flex-wrap: wrap;
  }

  .button_container {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
  }

  .button_container button {
    width: 120px;
  }
}
