:root {
  --color-primary: #030911;
  --color-accent-blue: #2dd9ff;
  --color-accent-green: #2dff50;
  --color-secondary: #fbfefe;

  font-family: Urbanist, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-secondary);
  background-color: var(--color-primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  width: 100vw;
  display: flex;
  flex-direction: column;
  scrollbar-gutter: stable;
  overflow-x: hidden;
}

html {
  height: fill-available;
  height: -webkit-fill-available;
}

body {
  min-width: 320px;
  max-width: 100vw;
  min-height: 100vh;
  min-height: fill-available;
  min-height: -webkit-fill-available;
  margin: 0;
  display: flex;
  justify-content: center;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.splash_border {
  &::before,
  &::after {
    content: "";
    position: absolute;
    width: calc(100% - 140px);
    height: calc(100% - 40px);
    top: 20px;
    left: 120px;
    border: 2px solid var(--color-accent-green);
    animation: clippath 12s infinite linear;
    border-radius: 5px;
  }

  &::after {
    animation: clippath 12s infinite -6s linear;
  }
}

.background_accent,
.background_accent2,
.background_accent3,
.background_accent4 {
  position: fixed;
  width: 600px;
  height: 600px;
  border-radius: 1000px;
  background: radial-gradient(var(--color-accent-blue) 0%, transparent 60%);
  opacity: 1;
  border: none;
  z-index: -1;
  pointer-events: none;
}

.background_accent {
  left: -250px;
}

.background_accent2 {
  right: -200px;
}

.background_accent3 {
  left: -200px;
}
.background_accent4 {
  right: -100px;
}

.landscape,
.portrait {
  width: 100%;
  max-width: 400px;
  display: grid;
  place-content: center center;
}

.landscape img {
  max-width: 400px;
}

.portrait img {
  max-width: 200px;
  width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.loader {
  width: 24px;
  height: 24px;
  border: 5px solid var(--color-accent-green);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.page_cont {
  display: grid;
  grid-template-columns: 100px 1fr;
}

.nav_placeholder {
  width: 100px;
}

.page_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page_wrapper {
  max-width: 1200px;
}

.nav_drawer {
  width: 100%;
  height: 100vh;
  background-color: var(--color-primary);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  display: none;
  flex-direction: column;
  align-items: flex-end;
}

.nav_close {
  margin: 50px;
  width: 60px;
  height: 60px;
  border: 2px solid var(--color-secondary);
  border-radius: 10px;
  display: grid;
  place-items: center center;
  transition: 0.2s;
  cursor: pointer;
}

.nav_close:hover {
  border-color: var(--color-accent-green);
  color: var(--color-accent-green);
}

.nav_drawer a {
  width: 100%;
  text-align: right;
  padding: 20px;
  margin-bottom: 20px;
  text-decoration: none;
  font-size: 24px;
  font-weight: 600;
  background-color: var(--color-primary);
  filter: contrast(80%);
  border: 2px solid transparent;
}

.nav_drawer a:visited {
  color: var(--color-secondary);
}

.nav_drawer a:hover {
  color: var(--color-accent-green);
  border-color: var(--color-accent-green);
  border-left-color: transparent;
  border-right-color: transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes clippath {
  0%,
  100% {
    clip-path: inset(0 0 98% 0);
  }

  25% {
    clip-path: inset(0 98% 0 0);
  }
  50% {
    clip-path: inset(98% 0 0 0);
  }
  75% {
    clip-path: inset(0 0 0 98%);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-primary: #fbfefe;
    --color-accent-blue: #007a96;
    --color-accent-green: #0f750d;
    --color-secondary: #030911;
  }
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .page_cont {
    grid-template-columns: 1fr;
  }

  .nav_placeholder {
    display: none;
  }

  .nav_drawer {
    display: flex;
  }

  .splash_border {
    width: 100%;
    height: 100%;
    position: absolute;
    &::before,
    &::after {
      width: calc(100% - 40px);
      height: calc(100% - 40px);
      content: "";
      position: absolute;
      top: 20px;
      left: 20px;
      right: 20px;
      bottom: 20px;
      border: 2px solid var(--color-accent-green);
      animation: clippath 12s infinite linear;
      border-radius: 5px;
    }

    &::after {
      animation: clippath 12s infinite -6s linear;
    }
  }
}
