:root {
  --color-primary: #030911;
  --color-accent-blue: #2dd9ff;
  --color-accent-green: #2dff50;
  --color-secondary: #fbfefe;

  font-family: Urbanist, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: white;
  background-color: var(--color-primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

main {
  padding: 1rem;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-primary: #fbfefe;
    --color-accent-blue: #105fc6;
    --color-accent-green: #0f750d;
    --color-secondary: #030911;
  }
}
